#block-departmentscheduleviewheadercontentappearsbeforetitle p {
  margin: 20px 0 0 0;
}

.dept-schedule-records {
  /*border: 1px solid #d7d7d7;*/
  margin-bottom: 10px;
}

.dept-schedule-records .view-header {
  margin-bottom: 10px;
}

.dept-schedule-record {
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  padding: 20px 15px;
}

.dept-schedule-record:first-of-type {
  border-top: 1px solid #d7d7d7;
}

.dept-schedule-record article h2 a {
  text-decoration: none;
  font-weight: normal;
}

.dept-schedule-record article footer,
.dept-schedule-record article .field--name-field-department {
  display: none;
}

.dept-schedule-record .views-field .views-label,
.dept-schedule-record .views-field .field-content {
  display: inline-block;
}

.dept-schedule-record .views-field .views-label {
  font-weight: bold;
  margin-right: 20px;
}

.dept-schedule-record .views-field .field-content {
  color: #333;
}

.dept-schedule-record .views-field .field-content a {
  text-decoration: none;
  color: #333;
}

.dept-schedule-record .views-field {
  line-height: 2em;
}

.dept-schedule-record .views-field-field-record-title {
  font-size: 1.75em;
  color: #4f4e4e;
  line-height: 1.2em;
}

.dept-schedule-record .views-field-field-retention,
.dept-schedule-record .views-field-field-off-site,
.dept-schedule-record .views-field-field-on-site,
.dept-schedule-record .views-field-field-total {
  display: inline-block;
  margin-right: 20px;
  font-size: 80%;
}

.dept-schedule-record .views-field-field-retention .views-label,
.dept-schedule-record .views-field-field-off-site .views-label,
.dept-schedule-record .views-field-field-on-site .views-label,
.dept-schedule-record .views-field-field-total .views-label {
  margin-right: 5px;
}

.dept-info-block {
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  padding: 35px 15px;
  margin-top: 20px;
  line-height: 1.5em;
  background: #e9f5fc;
}

.dept-info-block h1 {
  margin: 5px 0 10px 0;
}

.dept-info-block h1 a {
  text-decoration: none;
  color: #333;
}

.dept-info-block p {
  margin: 0;
}

.dept-info-block #dept-info-contact .left {
  float: left;
}

.dept-info-block #dept-info-contact .right {
  float: right;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.view-display-id-page_1 .view-header h2 {
  display: inline-block;
  margin: 0 0 10px 0;
}

.view-display-id-page_1 .view-header h2 a {
  text-decoration: none;
  color: #428bca;
}