/* import schedule */
#import-schedule-form .import-schedule-fields {
  border: 1px solid #999;
  padding: 10px;
  margin: 0;
}

#import-schedule-form .import-schedule-fields label {
  display: inline-block;
  width: 150px;
}

#import-schedule-form #edit-schedule-file-upload {
  display: inline-block;
}

.form-item-schedule-file .form-managed-file {
  display: inline-block;
}

#import-schedule-form #ajax-wrapper {

}

#import-schedule-form input:disabled {
  opacity: 0.5;
}

#edit-import-schedule-fields.disabled {
  opacity: 0.5;
}

#import-progress-wrap {
  width: 100%;
  border: 1px solid #ccc;
  padding: 2px;
  margin-bottom: 10px;
  /* border-radius: 12px; */
  height: 25px;
}

#import-progress {
  background: #00cc66;
  width: 0px;
  height: inherit;
  border-radius: inherit;
  text-align: center;
  -webkit-transition: width 0.8s;
}

.import-progress-indicator-error,
.import-progress-indicator-success {
  width: 0px;
  -webkit-transition: width 0.8s;
}

.import-progress-indicator-success {
  background: #579ad1;
  height: 25px;
  display: inline-block;
}

.import-progress-indicator-error {
  background: rgb(243, 124, 124);
  height: 25px;
  display: inline-block;
}

#import-progress-log {
  display: none;
}

#view-log-link {
  display: block;
}

#import-progress-log {
  margin-left: 10px;
  line-height: 1.5em;
  font-family: 'verdana';
  font-size: 0.8em;
}

#import-progress-log p {
  margin: 0;
}

#import-progress-log .import-success-msg,
#import-progress-log .import-error-msg {
  font-weight: 400;
}

#import-progress-log .import-success-msg {
  color: #579ad1;
}

#import-progress-log .import-error-msg {
  color: rgb(243, 124, 124);
}

.import-stats {
  margin-top: 10px;
}