.blue-btn {
  background: #09aee6;
  border: 1px solid #0a8bea;
  color: #fff;
  text-decoration: none;
}

.btn-lg {
  padding: 15px;
}

.btn-md {
  padding: 10px;
}

.red-btn-link {
  border: 0;
  padding: 0;
  color: #c72100;
  text-decoration: underline;
}