/* form styles */
.itr-form .form-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.itr-form .form-item select {
  height: 35px;
}

.itr-form .form-item input[type="text"],
.itr-form .form-item input[type="email"],
.itr-form .form-item input[type="tel"],
.itr-form .form-item input[type="url"],
.itr-form .form-item textarea,
.itr-form .form-item select,
.itr-form .form-item input[type="checkbox"] {
  border: 1px solid #666;
  padding: 10px;
}

.itr-form .form-item .form-type-checkbox label {
  display: inline;
  font-weight: normal;
}

/* help text */
.itr-form .form-wrapper .description { 
  margin-top: 5px;
}

/* hide title field (it is required, but auto populated by js) */
.form-item-title-0-value {
  display: none;
}

/* hide vertical tabs */
.itr-form .form-type-vertical-tabs {
  display: none;
}

select#edit-field-department-name:disabled {
  -webkit-appearance: none;
  background: none;
  border: 0;
}

.node-department-information-form input[type="text"],
.node-department-information-form input[type="email"],
.node-department-information-form input[type="tel"],
.node-department-information-form input[type="url"],
.node-department-information-edit-form input[type="text"],
.node-department-information-edit-form input[type="email"],
.node-department-information-edit-form input[type="tel"],
.node-department-information-edit-form input[type="url"] {
  width: 33%;
}

.node-department-information-form #edit-field-department-website-0,
.node-department-information-edit-form #edit-field-department-website-0 {
  border: 0;
  padding: 0;
}

.node-department-information-form .form-item-field-department-website-0-title,
.node-department-information-edit-form .form-item-field-department-website-0-title {
  display: none;
}