.itr-manage-page .form-item-permission {
  display: none;
}

.itr-manage-page #edit-actions,
.itr-manage-page #edit-actions--2,
.itr-manage-page #views-form-user-admin-people-page-1 .form-item-action {
  display: inline-block;
}

.itr-manage-page .views-exposed-form,
.itr-manage-page #views-form-user-admin-people-page-1 {
  border-bottom: 1px solid #ccc;
}

.itr-manage-page input[type="text"] {
  border: 1px solid #666;
}

.itr-manage-page .form-submit {
  border: 1px solid #428bca;
  border-radius: 5px;
  background: #fff;
  color: #428bca;
}

.itr-manage-page #views-form-user-admin-people-page-1 table td.is-active {
  background: transparent;
}

.itr-manage-page .button-action {
  color: #fff;
  border: 1px solid #428bca;
  border-radius: 5px;
  background: #428bca;
  padding: 10px;
}