@import url("input-styles.css");
@import url("import-schedule.css");
@import url("menu.css");
@import url("schedule.css");
@import url("view-filter-form.css");
@import url("export-schedule.css");
@import url("dept-info.css");
@import url("itr-manage.css");
@import url("itr-edit-person.css");
@import url("itr-tabs.css");

/* layout */

header {}
main {
  
}

main {
  margin: 0 2.5em;
}

.path-frontpage main {
  margin: 0;
}

/* end layout */

.link {
  text-decoration: none;
  font-weight: normal;
  color: #428bca;
}

.link:hover {
  text-decoration: underline;
}

header #block-itrtheme-branding .site-logo {
  background: url(../images/logo-main.png) no-repeat;
  display: block;
  width: 320px;
  height: 128px;
}

header #block-frontpageheadersubtext {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
  line-height: 1.5em;
}

header .region-header {
  position: relative;
  background: url(../images/header-image.jpg) no-repeat;
  background-size: cover;
  padding: 20px;
}

#block-itrtheme-search {
  text-align: center;
  padding: 40px;
  margin-bottom: 40px;
  line-height: 3em;
}

#block-itrtheme-search h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 2.5em;
  color: #0a8aea;
}

#block-itrtheme-search .title-suffix {
  display: block;
  margin: 0;
  padding: 0;
}

#block-itrtheme-search #search-block-form {
  margin-top: 10px;
}

#block-itrtheme-search input[type="search"] {
  border: 1px solid #666;
  width: 33%;
  padding: 15px;
}

#block-itrtheme-search input.form-submit {
  background: #09aee6;
  border: 1px solid #0a8bea;
  padding: 15px;
  color: #fff;
}


/* login page */
.user-login-page .page-title {
  text-align: center;
}

#user-login-form,
#user-pass {
  max-width: 500px;
  margin: 0px auto;
}

.user-login-page #edit-name--description, 
.user-login-page #edit-pass--description {
  display: none;
}

.user-login-page label[for="edit-name"],
.user-login-page label[for="edit-pass"] {
  display: block;
  margin-bottom: 5px;
}

.user-login-page #edit-name,
.user-login-page #edit-pass {
  padding: 10px;
  border: 1px solid #999;
  width: 95%;
}

.user-login-page #edit-submit {
  background: #09aee6;
  border: 1px solid #0a8bea;
  padding: 10px;
  color: #fff;
  width: 99%;
  display: block;
}

#forgot-password-link {
  max-width: 500px;
  text-align: center;
  margin: 0px auto;
}
/* end login form */

.itrtheme-schedules-view-form table.views-table tr th {
  font-size: 80%;
}

/* content view admin styles */
table.views-table .views-field {
  font-size: 90%;
  border: 1px solid #d7d7d7;
}

table.views-table .views-field {
  padding: 5px;
  color: #333;
}

table.views-table .views-field a {
  font-weight: normal;
  color: #333;
  text-decoration: none;
}

/* specific table column widths */
table.views-table .views-field-node-bulk-form {
  width: 2%;
  text-align: center;
}

table.views-table #view-field-division-contact-table-column,
table.views-table #view-field-division-table-column,
table.views-table #view-field-link-table-column {
  width: 10%;
}

table.views-table #view-field-retention-table-column {
  width: 7%;
}

table.views-table #view-field-on-site-table-column,
table.views-table #view-field-off-site-table-column,
table.views-table #view-field-total-table-column {
  width: 7%;
}

table.views-table td.views-field-field-on-site,
table.views-table td.views-field-field-off-site,
table.views-table td.views-field-field-total {
  overflow: hidden;
  text-overflow: clip;
  max-width: 1px;
}

table.views-table #view-field-remarks-table-column {
  width: 15%;
}

table.views-table #view-title-table-column {
  width: 12%;
}

table.views-table #view-field-category-table-column {
  width: 15%;
}

table.views-table .views-field-operations {
  width: 2%;
  text-align: center;
}

table.views-table .views-field-operations a {
  color: #428bca;
}

table.views-table td.views-field-operations .dropbutton-wrapper {
  padding: 0;
  margin: 0;
}

table.views-table td.views-field-operations .dropbutton-widget {
  border: none;
  position: static;
  padding: 0;
  text-align: center;
}

table.views-table td.views-field-operations .dropbutton-widget .dropbutton {
  border: none;
}

table.views-table td.views-field-operations .dropbutton-widget .dropbutton a {
  display: inline;
  margin: 0;
  padding: 0;
}

table.views-table td.views-field-operations .dropbutton-widget .dropbutton-toggle {
  display: none;
}

/* create record form */
#node-record-form .form-type-vertical-tabs {
  display: none;
}

/* edit record form */
#node-record-edit-form .form-type-vertical-tabs {
  display: none;
}

/* dept list / front page */
#dept-list-header {
  width: 100%;
  text-align: center;
  border-top: 1px solid #d7d7d7;
  padding: 20px 0 0 0;
}

#dept-list-header h3 {
  color: #0a8aea;
  font-size: 2.5em;
  font-weight: normal;
  padding: 0;
  margin: 40px 0 20px 0;
}

#dept-list-header h4 {
  color: #757575;
  font-size: 1.5em;
  font-weight: normal;
  padding: 0;
  margin: 0 0 20px 0;
}

#dept-list-header .or {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: table;
  margin: -50px auto auto auto;
  border-radius: 50px;
  border: 2px solid #d7d7d7;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
  background: #fff;
  color: #757575;
}

.path-frontpage .view-id-departments {
  margin: 40px 5% 0 5%;
}

.path-frontpage .view-id-departments .dept-list-row a {
  color: #428bca;
  text-decoration: none;
}

.path-frontpage .view-id-departments .dept-list-row .views-field-name {
  padding: 0 10% 20px 0;
}

/* kint debug menu */
#block-itrtheme-account-menu .kint {
  position: absolute;
  left: -700px;
  z-index: 1000;
}

#dept-empty-schedule-msg {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
